    </main>
    <footer>
        <p>Example Footer</p>
    </footer>
    <script src="/js/main.js"></script>
    <!-- DataTables JS & jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//cdn.datatables.net/2.3.3/js/dataTables.min.js"></script>
</body>
</html>