<!DOCTYPE html>
<html>
<head>
  <title>Web Crawler</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <h1>Web Crawler</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/4xx">4xx</a>
      <a href="/images">Images</a>
      <a href="/submit_crawl">Submit Crawl</a>
      <a href="/meta">Meta</a>      
    </nav>
  </header>
  <main>
