<!DOCTYPE html>
<html>
  <head>

    <title>Images </title>

     <script type="text/javascript" src="//cdn.datatables.net/2.3.3/js/dataTables.min.js"></script>

<link rel='stylesheet' href='//cdn.datatables.net/2.3.3/css/dataTables.dataTables.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='/main.css' type='text/css' media='all' />

 <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>

  <body>

    <h1>Images</h1>
    
    <table id="imageTable" class="display">
      <thead>
          <tr>
              <th>ID</th>
              <th>URL</th>
              <th>Status Code</th>
              <th>Size</th>
              <th>Alt Text</th>
              
          </tr>
      </thead>
      <tbody>
          <!-- Rows will be injected here -->
      </tbody>
  </table>

  <script>
    // Fetch Links
    fetch("/get_images")
      .then(res => res.json())
      .then(data => {
          const tableBody = document.querySelector("#imageTable tbody");
          data.forEach(url => {
              const row = document.createElement("tr");
              row.innerHTML = `
                  <td>${url.id}</td>
                  <td>${url.url}</td>
                  <td>${url.status_code}</td>
                  <td>${url.size}</td>
                  <td>${url.alt_text}</td>

              `;
              tableBody.appendChild(row);
          });

          // Initialize DataTables after rows are added
          $('#imageTable').DataTable({
            
          });
      })
      .catch(err => console.error(err));
  </script>



















  </body>

</html>
  
