<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
<link rel='stylesheet' href='/main.css' type='text/css' media='all' />
  
</head>
<body>


<div class="navbar">
  <ul>
    <li><a href="/linkcrawler">Link Crawler</a></li>
    <li><a href="/internal404s">Internal 404s</a></li>
    <li><a href="/external404s">External 404s</a></li>
    <li><a href="/images">Images</a></li>
    <li><a href="/meta">Meta Data</a></li>
  </ul>
</div>


  


  <h1>Users</h1>
  <ul id="users"></ul>

  <h1><a href="/links">Links</a></h1>
  <ul id="links"></ul>

  <script>
    fetch("/get_urls")
      .then(res => res.json())
      .then(data => {
        const list = document.getElementById("users");
        data.forEach(urls => {
          const li = document.createElement("li");
          li.textContent = `${urls.id}: ${urls.start_time}`;
          list.appendChild(li);
        });
      })
      .catch(err => console.error(err));

       // Fetch Links
    fetch("/get_links")
      .then(res => res.json())
      .then(data => {
        const list = document.getElementById("links");
        data.forEach(links => {
          const li = document.createElement("li");
          li.textContent = `${links.id}: ${links.to_url}`;
          list.appendChild(li);
        });
      })
      .catch(err => console.error(err));
  </script>


 







</body>
</html>
