<!DOCTYPE html>
<html>
    <head>
    <title>Internal 404s</title>
   
      <script type="text/javascript" src="//cdn.datatables.net/2.3.3/js/dataTables.min.js"></script>

<link rel='stylesheet' href='//cdn.datatables.net/2.3.3/css/dataTables.dataTables.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='/main.css' type='text/css' media='all' />

 <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

 <h1>Internal 404s</h1>
<table id="Internal404sTable" class="display">
      <thead>
          <tr>
              <th>ID</th>
              <th>url</th>
              <th>Content Type</th>
              <th>Title </th>
          </tr>
      </thead>
      <tbody>
          <!-- Rows will be injected here -->
      </tbody>
  </table>

  <script>
    // Fetch Links
    fetch("/get_404s")
      .then(res => res.json())
      .then(data => {
          const tableBody = document.querySelector("#Internal404sTable tbody");
          data.forEach(url => {
              const row = document.createElement("tr");
              row.innerHTML = `
                  <td>${url.id}</td>
                  <td>${url.url}</td>
                  <td>${url.content_type}</td>
                  <td>${url.title}</td>
              `;
              tableBody.appendChild(row);
          });

          // Initialize DataTables after rows are added
          $('#Internal404sTable').DataTable({
            
          });
      })
      .catch(err => console.error(err));
  </script>
</body>

</html>