<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <script type="text/javascript" src="//cdn.datatables.net/2.3.3/js/dataTables.min.js"></script>

<link rel='stylesheet' href='//cdn.datatables.net/2.3.3/css/dataTables.dataTables.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='/main.css' type='text/css' media='all' />

 <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

  <h1>Links</h1>
<table id="linksTable" class="display">
      <thead>
          <tr>
              <th>ID</th>
              <th>URL</th>
          </tr>
      </thead>
      <tbody>
          <!-- Rows will be injected here -->
      </tbody>
  </table>

  <script>
    // Fetch Links
    fetch("/get_links")
      .then(res => res.json())
      .then(data => {
          const tableBody = document.querySelector("#linksTable tbody");
          data.forEach(link => {
              const row = document.createElement("tr");
              row.innerHTML = `
                  <td>${link.id}</td>
                  <td>${link.to_url}</td>
              `;
              tableBody.appendChild(row);
          });

          // Initialize DataTables after rows are added
          $('#linksTable').DataTable({
            
          });
      })
      .catch(err => console.error(err));
  </script>


 







</body>
</html>
