:root{
    --colour_1: #1e8c1e;
}

th{
    background-color: var(--colour_1);
}
tr:nth-child(even){
    background-color: #f2f2f2
}


/* Crawl Selecter Popup */
.popup {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex; justify-content: center; align-items: center;
  z-index: 999;
}
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: auto;
  width: 700px;
}
.popup-content table {
  width: 100%;
  border-collapse: collapse;
}
.popup-content th, .popup-content td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
.table-primary th { 
  color: white;
  background-color: #1e8c1e;
   --bs-table-color: #fff;                
  --bs-table-bg: var(--colour_1);
  --bs-table-border-color: var(--colour_1) ;
  --bs-table-striped-bg: color-mix(in srgb, var(--colour_1) 90%, #000);
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: color-mix(in srgb, var(--colour_1) 80%, #000);
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: color-mix(in srgb, var(--colour_1) 85%, #000);
  --bs-table-hover-color: #fff;
 }

  .btn-primary {
  --bs-btn-bg: var(--colour_1) !important;
  --bs-btn-border-color: var(--colour_1) !important;
  --bs-btn-hover-bg: var(--colour_1) !important;   
  --bs-btn-hover-border-color: var(--colour_1) !important;
  --bs-btn-active-bg: var(--colour_1) !important;
  --bs-btn-active-border-color: var(--colour_1) !important;
}
.dt-layout-cell.dt-layout-end{
    margin-bottom: 5px;
}
.dt-length , .dt-layout-cell.dt-layout-end{
  margin-left: 10px;
  margin-right: 10px;
}
#clientSelect option[value="__new__"] {
  color: var(--colour_1);
  font-weight: 700;
}
