:root{
    --colour_1: #fb4136;
}

th{
    background-color: var(--colour_1);
}
tr:nth-child(even){
    background-color: #f2f2f2
}









    .navbar ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: var(--colour_1);
    }

    .navbar ul li{
        float: left;
    }

    
    .navbar ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .navbar ul li a:hover {
      background-color: #111111;
    }

